* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
  min-width: 280px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(162, 162, 162, 1) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(0, 0, 0, 0) 0%
  );
}

.main-header {
  padding: 10px 20px 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-data-layout {
  display: flex;
  justify-content: center;
}

.second-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px auto 25px auto;
  padding: 15px 15px 15px 15px;
  box-shadow: 0 3px 5px rgba(171, 171, 171, 0.653);
}

.css-1lymaxv-MuiDataGrid-root {
  border-radius: 10px !important;
  box-shadow: 0 3px 5px rgba(171, 171, 171, 0.653) !important;
}

.css-128fb87-MuiDataGrid-toolbarContainer {
  padding: 10px !important;
  background-color: rgb(225, 225, 225) !important;
  border-radius: 10px 10px 0px 0px !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle{
  font-weight: bold !important;
}

.error-message {
  text-align: center;
  background-color: rgba(255, 87, 87, 0.269);
  margin-bottom: 20px;
  color: rgb(193, 0, 0);
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  min-width: 218px;
  max-width: 70vw;
  width: 70vw;
  height: 80vh;
}

.modal-content {
  padding: 20px 35px 20px 35px;
}

.devider {
  max-width: 70vw;
  min-width: 280px;
  width: 70vw;
  border: 1px solid rgb(188, 188, 188);
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  margin-top: 10px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='grey' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dialog-actions {
  display: flex !important;
  justify-content: space-between !important;
  padding: 8px 20px !important;
}

.visibility-hidden {
  visibility: hidden;
}

@media (max-width: 340px) {
  .modal-content {
    padding: 10px 10px 10px 10px;
  }
}
